#items_table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}

#items_table td, #items_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#items_table tr:nth-child(even){background-color: #afafaf;}

#items_table tr:hover {background-color: #ddd;}

#items_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}